.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 15px;
    width: 100%;
    height: 50px;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;

}

#navbar {
    display: flex;
    text-align: right;
    width: 100;
    background-color: maroon;
    position:fixed;
  }

  .nav-list {
    display: flex;
    margin-right: 2rem;
    height: 100%;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  @media(max-height: 800px) {
    nav {
      font-size: 10px;
    }
  }

  li {
    display: inline;
    margin: 0px 30px 0px 30px;
    font-size: 25px;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
