* {
  border: solid;
}

.main {
  border-color: yellow;
  background-color: lightblue;
}

.input {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    border: 0px;
    margin-top: 0px;
    transition-duration: 0.4s;
    background-color:aliceblue;
  }

  #clear {
    width: 2.5rem;
    border: 0px;
    margin-top: 0px;
    transition-duration: 0.4s;
    background-color:aliceblue;
  }
  
.front-title {
  flex: auto;
  text-align: center;
}

#output {
  width: 100%;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 50px;
}

.calculator {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.equal {

}

table {
  border-style: solid;
  border-width: 2px;
}

#calculator-buttons {
  border: 1cm;
  
}

#number:hover {
  background-color: #4CAF50; /* Green */
  color: green;
}
  