.main {
  border-color: yellow;
  background-color: lightblue;
}

.input {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    border: 0px;
    margin-top: 0px;
    transition-duration: 0.4s;
    background-color:aliceblue;
  }

  #clear {
    width: 2.5rem;
    border: 0px;
    margin-top: 0px;
    transition-duration: 0.4s;
    background-color:aliceblue;
  }
  
.front-title {
  flex: auto;
  text-align: center;
}

#output {
  width: 100%;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 50px;
}

.calculator {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.equal {

}

table {
  border-style: solid;
  border-width: 2px;
}

#calculator-buttons {
  border: 1cm;
  
}

#number:hover {
  background-color: #4CAF50; /* Green */
  color: green;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

#navbar {
  display: flex;
  text-align: right;
  width: 100;
  background-color: maroon;
  position:fixed;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  height: 100%;
}

.nav-list a:hover {
  background: var(--main-blue);
}

@media(max-height: 800px) {
  nav {
    font-size: 10px;
  }
}
  